.text-center {
       text-align: center;
}
.willkommen {
        background-image: url("../background.jpeg");
        background-position: center;
        background-size: cover;
        padding: 150px;
}
h2 {
        color: rgb(29, 15, 207);
}
.navbar{
        background-color: black;
    height: 60px;
}
.navlist{
        float: right;
}
.navlist li{
display: inline-block;
}
.navlist li a{
        color: rgb(255, 255, 255);
        margin: 10px;
}
.navlist li a:hover{
color: white;
text-decoration: underline;
}
.footer{
        background-color: black;
        padding: 30px;
}
.footer h3{
        color:white;
}
